*{
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 195, 216);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    width: 30%;
}
.Left{
    float: left;
    width: 50%;
}
.Right{
    float: right;
}